<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
    <main class="image-bg-fluid-height">
        <img class="img-responsive img-center" src="/Assets/logo6.png" >
        <h1>IT management platform to boost your productivity!</h1>      
        <h3>Everything you need to deliver amazing digital service management.</h3>  
        <div class="button-group">
            <a href="/login"><button type="button" class="btn btn-reset btn-lg">Log In</button></a>
            <a href="/register"><button type="button" class="btn btn-delete btn-lg">Register Now!</button></a>
        </div>
    </main>
    <!--<div class="container-full">
        <div class="row">
            <div class="col-xs-6 black-bg">
                <div class="two-colors-banner">
                <h3 class="text-center">Manage your support tickets!</h3>
                <img style="float:left; padding:1em" class="img-responsive text-left" src="/Assets/landing-page-left.png">
                <p>A complete website solution for your business or personal websites packed with unlimited flexibility</p>
                </div>
            </div>     
            <div class="col-xs-6 gray-bg">
                <div class="two-colors-banner">
                <h3 class="text-center">Manage your support tickets!</h3>
                <img style="float:left; padding:1em" class="img-responsive text-left" src="/Assets/landing-page-right.png">
                <p>A complete website solution for your business or personal websites packed with unlimited flexibility</p>
                </div>
            </div>             
        </div>
    </div>-->
<% include partials/footer.ejs %>
    
