.image-bg-fluid-height {
    background: url('/Assets/banner-office-resize.jpg') no-repeat center center scroll;
    padding: 100px 0;
    height: 845px;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;
    
}
.image-bg-fluid-height h1{
    font-size: 40pt;
}
.img-center {
    margin: 0 auto;
}
.black-bg{
    background-color: lightgrey;
    color: black;
}
.gray-bg{
    background-color: #424648;
    color: white;
}
.two-colors-banner{
    padding: 2em;
    height: 300px;
}
.button-group{
    padding-top: 4em;
}
.footer {
    background-color: darkgray;
}
.container .text-muted {
    margin: 20px 0;
    color: black;
}
.large-number{
    font-size: 40pt;
}
.textarea {
    resize: none;
}